.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 96px 0 96px 0;
}

.sobre__titulo{
    font-weight: 600;
    color: var(--cor_destaque);
    line-height: 24px;
    text-align: center;
}

.sobre__descricao{
    font-size: 48px;
    font-weight: 600;
    color: var(--cor_titulo);
    line-height: 60px;
    text-align: center;
}

.sobre__texto{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    width: 53%;
}

.metricas{
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 0 112px 96px 112px;
}

.metricas__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.metricas__numero{
    font-size: 60px;
    font-weight: 600;
    color: var(--cor_destaque);
    line-height: 72px;
    text-align: left;
}

.metricas__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor_titulo);
    line-height: 28px;
    text-align: left;
}

.metricas__descricao{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.vagas__topo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 96px;
    margin-bottom: 64px;
}

.vagas__imagem{
    margin-top: 44px;
}

.vagas__titulo{
    font-size: 14px;
    font-weight: 500;
    color: var(--cor_destaque);
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px 4px 12px;
    border-radius: 16px;
    line-height: 20px;
    text-align: center;
}

.vagas__frase{
    font-size: 36px;
    font-weight: 600;
    color: var(--cor_titulo);
    line-height: 44px;
    letter-spacing: -2%;
    text-align: center;
}

.vagas__texto{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.vagas__lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 336px 0 336px;
}

.vagas__area{
    font-size: 20px;
    font-weight: 600;
    color: var(--cor_titulo);
    line-height: 30px;
    text-align: left;
    margin-bottom: 32px;
}

.vagas__itens{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
}       

.vagas__info{
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
}

.vaga__item{
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px 24px;
    gap: 32px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.vaga__cargo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor_titulo);
    line-height: 28px;
    text-align: left;
}

.vaga__tipo{
    margin-right: 24px;
}

.depoimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 64px;
    background-color: rgba(195, 25, 25, 0.03);
    margin: 72px 112px 96px 112px;
}

.depoimento__titulo{
    font-size: 14px;
    font-weight: 600;
    color: var(--cor_destaque);
    line-height: 20px;
    margin-bottom: 16px;
}

.depoimento__texto{
    font-size: 36px;
    font-weight: 500;
    color: var(--cor_titulo);
    line-height: 44px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 32px;
}

.depoimento__autor{
    font-size: 16px;
    font-weight: 500;
    color: var(--cor_titulo);
    line-height: 24px;
    text-align: center;
    margin-top: 16px;
}

.depoimento__cargo{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

